<h1>Editing susciption</h1>

<%= render "form", susciption: @susciption %>

<br>

<div>
  <%= link_to "Show this susciption", @susciption %> |
  <%= link_to "Back to susciptions", susciptions_path %>
</div>
